
<div *ngIf="!isLogged" class="content">
   
    <form class="pass-form text-center">
       
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Unesite svoju e-mail adresu i potvrdite</mat-label>
          <input matInput type="text" placeholder="example@gmail.com" [(ngModel)]="email" name="email">
        </mat-form-field> 
        
        <button mat-raised-button color="primary" (click)="passChange()">Potvrda</button>
        <br/>
        <span>{{message}}</span>

    </form>

</div>

